.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 5, 5);
    color: blanchedalmond;
    padding: 5px;
}


.navbar-links ul {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
}

.navbar-links ul li a:hover {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
}

.logo h2 {
    margin-left: 30px;
}

*{
    font-family: verdana;
    
}

body{
    background-color: rgba(221, 219, 219, 0.274);
    background-image: url(../photo/plano.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.486);
}
.One h1{
    text-align: center;
    color: rgb(5, 5, 133);
    font-size: 50px;

}
.One p{
    text-align: center;
    font-size: 40px;
}
.Services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hebergement{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
}
.hebergement img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.hebergement h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.hebergement a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.hebergement a:hover{
    cursor: pointer;
    padding: 12px;
    background-color: blue;
}
.location{
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 25px;
}
.location img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.location h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.location a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.location a:hover{
    cursor: pointer;
    padding: 12px;
    background-color: blue;
}
.transport{
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 25px;
}
.transport img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.transport h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.transport a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.transport a:hover{
    cursor: pointer;
    padding: 12px;
    background-color: blue;
}
.naturel{
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 25px;
}
.naturel img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.naturel h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.naturel a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.naturel a:hover{
    cursor: pointer;
    padding: 12px;
    background-color: blue;
}
.Offre h1{
    text-align: center;
}
.economie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 30px;
}
.economie img{
   border-radius: 15px;
}
.eco h3{
    color: green;
    font-size: 40px;
}
.eco p{
    font-family: cursive;
    color: grey;
}
.ec ul{
    border: 1px solid green;
    padding: 10px;
    font-weight: bold;
    background-color: green;
    backdrop-filter: blur(50px);
    border-radius: 10px;
}
.ec ul li{
    display: block;
    color: white;
    margin-top: 25px;

}
.ec a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(236, 174, 4);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.loca{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 30px;
}
.loca img{
   border-radius: 15px;
}
.loc h3{
    color: yellow;
    font-size: 40px;
}
.loc p{
    font-family: cursive;
    color: grey;
}
.loc ul{
    border: 1px solid yellow;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(212, 212, 6);
    backdrop-filter: blur(50px);
    border-radius: 10px;
}
.loc ul li{
    display: block;
    color: white;
    margin-top: 25px;

}
.loc a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(236, 174, 4);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.trans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 30px;
}
.trans img{
   border-radius: 15px;
}
.tra h3{
    color: rgb(202, 5, 5);
    font-size: 40px;
}
.tra p{
    font-family: cursive;
    color: grey;
}
.tra ul{
    border: 1px solid green;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(202, 5, 5);
    backdrop-filter: blur(50px);
    border-radius: 10px;
}
.tra ul li{
    display: block;
    color: white;
    margin-top: 25px;

}
.tra a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(236, 174, 4);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.premium{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 30px;
}
.premium img{
   border-radius: 15px;
}
.prem h3{
    color: orange;
    font-size: 40px;
}
.prem p{
    font-family: cursive;
    color: grey;
}
.prem ul{
    border: 1px solid orange;
    padding: 10px;
    font-weight: bold;
    background-color: orange;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    margin-right: 60px;
}
.prem ul li{
    display: block;
    color: white;
    margin-top: 25px;

}
.prem a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(209, 155, 5);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

















