*{
    font-family: verdana;
    
}
.One h1{
    text-align: center;
    color: rgb(5, 5, 133);
    background-color: #fff;
    text-shadow: 2px 2px 10px rgba(9, 121, 185, 0.74);
}
.One p{
    text-align: center;
}
.Services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hebergement{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
}
.hebergement img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.hebergement h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.hebergement a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
   

}
.location{
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 25px;
}
.location img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.location h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.location a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
    

}
.transport{
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 25px;
}
.transport img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.transport h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.transport a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
    

}
.naturel{
    box-shadow: 2px 2px 10px rgba(32, 31, 31, 0.74);
    background-color: #fff;
    border-radius: 25px;
}
.naturel img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.naturel h3{
    text-align: center;
    color: rgb(3, 3, 128);
}
.naturel a{
    text-decoration: none;
    margin-left: 35%;
    background-color: rgb(3, 3, 128);
    color: white;
    padding: 10px;
    border-radius: 15px;
  

}