*{
    font-family: verdana;
}
.propos{
    backdrop-filter: blur(10px);
    background-color: rgba(2, 2, 80, 0.774);
    margin-top: -40px;
}

.propos  h1{
    color: rgb(5, 5, 194);
    text-align: center;
}
.paragraph{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}
.paragraph p{
    font-size: 14px;
    color: rgb(211, 207, 207);
}
.One{
    background-color: #fff; 
    padding: 0px;
    margin-top: -25px;
}
.One h1{
    text-align: center;
    color: rgb(3, 3, 128);

}
header{
    background-color:black;
    align-items: center;
    display: flex;
    border: 100px;
    padding: 5rem;
    padding-left: 2rem;
    color: aliceblue;
    
}
.align{
    display: inline-flex;
}

.align2{
    margin-left: 15rem;
}
h1{
    margin-left: 12rem;
}
.droit{
    margin-left: 72rem;
}
.droit1{
    margin-left: 50rem;
}
.image1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.image2{
   width:200px;
   height: 200px;
   border-radius: 100px;
}

.divimage{
    padding: 5rem;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;

}
.divimage2{
    margin-left: 50rem;
}
.divimage24{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chutte_deau{
  width: 812px;
  height: 812px;
}
.pont{
    width: 812px;
    height: 812px;
}
.divimage25{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon ,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li ,
footer .menu
{
    list-style-type: none;
}
footer .social_icon li a 
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a
{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
   opacity: 1;
}
footer P{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(image2/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
   0%
   {
    background-position-x: 1000px;
   }
   100%
   {
    background-position-x:0px;
   }
  
}
@keyframes animateWave_02{
    0%
    {
     background-position-x: 1000px;
    }
    100%
    {
     background-position-x:1000px;
    }
   
 }
